---
---

$bottom-top-padding: 100px;
$theme: (
  light: #f8f9fa,
  dark: #2e3842,
  text-light: #fff
);

// Header

.site-header {
  background-color: map-get($theme, light);
}

.header-logo {
  max-width: 32px;
}

// Footer

.site-footer {
  $footer-padding: 25px;
  background-color: map-get($theme, light);
  text-align: center;
  padding-top: $footer-padding;
  padding-bottom: $footer-padding;
}

.footer-logo {
  padding-left: 10px;
  height: 28px;
}

.footer-description {
  color: #919191;
  font-size: 13px;
}

// Banner
.banner {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/banner.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  color: map-get($theme, text-light);

  &__header {
    border-bottom: 2px solid white;
    padding: 25px 0;
    margin: 0 auto 25px auto;
  }
}

// Content Styling
.content-section {
  padding: $bottom-top-padding 0;

  &:nth-child(2n) {
    background-color: map-get($theme, dark);
    color: map-get($theme, text-light);
  }

  &:nth-child(3) {
    background-color: #21b2a6;
    color: map-get($theme, text-light);
  }

  &:last-child {
    background-color: #505393;
    color: map-get($theme, text-light);
  }

  &__image {
    text-align: center;
  }

  .row {
    align-items: center;
  }
}
