---
---

.header-logo {
  max-width: 32px;
}

.site-footer {
  $footer-padding: 25px;
  background-color: #f8f9fa;
  text-align: center;
  padding-top: $footer-padding;
  padding-bottom: $footer-padding;
}

.footer-description {
  color: #919191;
  font-size: 13px;
}

.contact-list {
  list-style-type: none;
}
