---
---

.header-logo {
  max-width: 32px;
}

.site-footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 50px 0;
}

.footer-description {
  color: #919191;
  font-size: 13px;
}

.contact-list {
  list-style-type: none;
}